In [1]:
import numpy as np
import pandas as pd

In [2]:
%pwd

'C:\\Users\\Administrator\\big'

In [3]:
%cd examples/

C:\Users\Administrator\big\examples

In [4]:
!dir

 C 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: 767F-B2A6

 C:\Users\Administrator\big\examples 디렉터리

2019-06-04  오후 12:27    <DIR>          .
2019-06-04  오후 12:27    <DIR>          ..
2017-11-26  오후 01:17                58 ex1.csv
2017-11-26  오후 01:17                42 ex2.csv
2017-11-26  오후 01:17               170 ex3.txt
               3개 파일                 270 바이트
               2개 디렉터리  55,850,082,304 바이트 남음

In [5]:
!type ex1.csv

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [6]:
%cd ..

C:\Users\Administrator\big

In [7]:
!type examples\ex1.csv

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [9]:
df = pd.read_csv('examples/ex1.csv')

In [10]:
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [11]:
pd.read_table('examples/ex1.csv', sep=',')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [13]:
!type examples\ex2.csv

1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [14]:
pd.read_csv('examples/ex2.csv', header=None)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [15]:
pd.read_csv('examples/ex2.csv', names=['a','b','c','d','message'])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [16]:
f = open('examples/ex3.txt','r', encoding='utf-8')

In [17]:
list(f)

['            A         B         C\n',
 'aaa -0.264438 -1.026059 -0.619500\n',
 'bbb  0.927272  0.302904 -0.032399\n',
 'ccc -0.264273 -0.386314 -0.217601\n',
 'ddd -0.871858 -0.348382  1.100491\n']

- 파이썬 기본 입출력

In [18]:
print('test')

test

In [19]:
import sys

In [20]:
dir(sys)

['__displayhook__',
 '__doc__',
 '__excepthook__',
 '__interactivehook__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '__stderr__',
 '__stdin__',
 '__stdout__',
 '_clear_type_cache',
 '_current_frames',
 '_debugmallocstats',
 '_enablelegacywindowsfsencoding',
 '_getframe',
 '_git',
 '_home',
 '_xoptions',
 'api_version',
 'argv',
 'base_exec_prefix',
 'base_prefix',
 'builtin_module_names',
 'byteorder',
 'call_tracing',
 'callstats',
 'copyright',
 'displayhook',
 'dllhandle',
 'dont_write_bytecode',
 'exc_info',
 'excepthook',
 'exec_prefix',
 'executable',
 'exit',
 'flags',
 'float_info',
 'float_repr_style',
 'get_asyncgen_hooks',
 'get_coroutine_wrapper',
 'getallocatedblocks',
 'getcheckinterval',
 'getdefaultencoding',
 'getfilesystemencodeerrors',
 'getfilesystemencoding',
 'getprofile',
 'getrecursionlimit',
 'getrefcount',
 'getsizeof',
 'getswitchinterval',
 'gettrace',
 'getwindowsversion',
 'hash_info',
 'hexversion',
 'implementation',
 'int_info',
 'intern',
 'is_finalizing',
 'maxsize',
 'maxunicode',
 'meta_path',
 'modules',
 'path',
 'path_hooks',
 'path_importer_cache',
 'platform',
 'prefix',
 'ps1',
 'ps2',
 'ps3',
 'set_asyncgen_hooks',
 'set_coroutine_wrapper',
 'setcheckinterval',
 'setprofile',
 'setrecursionlimit',
 'setswitchinterval',
 'settrace',
 'stderr',
 'stdin',
 'stdout',
 'thread_info',
 'version',
 'version_info',
 'warnoptions',
 'winver']

In [21]:
sys.stdout.write('안녕')

안녕

In [22]:
key  = input('insert your key: ')

insert your key: sunny

In [23]:
print(key)

sunny

In [24]:
f = open('test.txt', 'w')

In [25]:
print('file write test....', file=f)

In [26]:
f.closed

False

In [27]:
f.close()

In [28]:
with open('test2.txt', 'w') as f:
    f.write('test..........')

In [29]:
!dir

 C 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: 767F-B2A6

 C:\Users\Administrator\big 디렉터리

2019-06-04  오후 02:43    <DIR>          .
2019-06-04  오후 02:43    <DIR>          ..
2019-06-04  오후 02:25    <DIR>          .ipynb_checkpoints
2019-06-04  오후 12:27    <DIR>          examples
2019-06-03  오전 11:31    <DIR>          ins
2019-06-03  오후 02:52            16,287 numpy실습1.ipynb
2019-06-03  오후 03:44            13,073 numpy실습2.ipynb
2019-06-03  오후 05:00            20,433 pandas실습1.ipynb
2019-06-03  오후 06:24            62,386 pandas실습2.ipynb
2019-06-03  오후 06:47            46,434 pandas실습3.ipynb
2019-06-04  오후 12:11            68,646 pandas실습4.ipynb
2019-06-04  오후 02:43            18,759 pandas입출력실습.ipynb
2019-06-04  오후 02:41                21 test.txt
2019-06-04  오후 02:43                14 test2.txt
2019-06-03  오전 11:54             9,539 파이썬test.ipynb
              10개 파일             255,592 바이트
               5개 디렉터리  55,843,143,680 바이트 남음

In [30]:
!mkdir test1

In [31]:
!dir

 C 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: 767F-B2A6

 C:\Users\Administrator\big 디렉터리

2019-06-04  오후 02:44    <DIR>          .
2019-06-04  오후 02:44    <DIR>          ..
2019-06-04  오후 02:25    <DIR>          .ipynb_checkpoints
2019-06-04  오후 12:27    <DIR>          examples
2019-06-03  오전 11:31    <DIR>          ins
2019-06-03  오후 02:52            16,287 numpy실습1.ipynb
2019-06-03  오후 03:44            13,073 numpy실습2.ipynb
2019-06-03  오후 05:00            20,433 pandas실습1.ipynb
2019-06-03  오후 06:24            62,386 pandas실습2.ipynb
2019-06-03  오후 06:47            46,434 pandas실습3.ipynb
2019-06-04  오후 12:11            68,646 pandas실습4.ipynb
2019-06-04  오후 02:43            18,759 pandas입출력실습.ipynb
2019-06-04  오후 02:41                21 test.txt
2019-06-04  오후 02:44    <DIR>          test1
2019-06-04  오후 02:43                14 test2.txt
2019-06-03  오전 11:54             9,539 파이썬test.ipynb
              10개 파일             255,592 바이트
               6개 디렉터리  55,843,192,832 바이트 남음

In [32]:
import os

In [33]:
dir(os)

['DirEntry',
 'F_OK',
 'MutableMapping',
 'O_APPEND',
 'O_BINARY',
 'O_CREAT',
 'O_EXCL',
 'O_NOINHERIT',
 'O_RANDOM',
 'O_RDONLY',
 'O_RDWR',
 'O_SEQUENTIAL',
 'O_SHORT_LIVED',
 'O_TEMPORARY',
 'O_TEXT',
 'O_TRUNC',
 'O_WRONLY',
 'P_DETACH',
 'P_NOWAIT',
 'P_NOWAITO',
 'P_OVERLAY',
 'P_WAIT',
 'PathLike',
 'R_OK',
 'SEEK_CUR',
 'SEEK_END',
 'SEEK_SET',
 'TMP_MAX',
 'W_OK',
 'X_OK',
 '_Environ',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_execvpe',
 '_exists',
 '_exit',
 '_fspath',
 '_get_exports_list',
 '_putenv',
 '_unsetenv',
 '_wrap_close',
 'abc',
 'abort',
 'access',
 'altsep',
 'chdir',
 'chmod',
 'close',
 'closerange',
 'cpu_count',
 'curdir',
 'defpath',
 'device_encoding',
 'devnull',
 'dup',
 'dup2',
 'environ',
 'errno',
 'error',
 'execl',
 'execle',
 'execlp',
 'execlpe',
 'execv',
 'execve',
 'execvp',
 'execvpe',
 'extsep',
 'fdopen',
 'fsdecode',
 'fsencode',
 'fspath',
 'fstat',
 'fsync',
 'ftruncate',
 'get_exec_path',
 'get_handle_inheritable',
 'get_inheritable',
 'get_terminal_size',
 'getcwd',
 'getcwdb',
 'getenv',
 'getlogin',
 'getpid',
 'getppid',
 'isatty',
 'kill',
 'linesep',
 'link',
 'listdir',
 'lseek',
 'lstat',
 'makedirs',
 'mkdir',
 'name',
 'open',
 'pardir',
 'path',
 'pathsep',
 'pipe',
 'popen',
 'putenv',
 'read',
 'readlink',
 'remove',
 'removedirs',
 'rename',
 'renames',
 'replace',
 'rmdir',
 'scandir',
 'sep',
 'set_handle_inheritable',
 'set_inheritable',
 'spawnl',
 'spawnle',
 'spawnv',
 'spawnve',
 'st',
 'startfile',
 'stat',
 'stat_float_times',
 'stat_result',
 'statvfs_result',
 'strerror',
 'supports_bytes_environ',
 'supports_dir_fd',
 'supports_effective_ids',
 'supports_fd',
 'supports_follow_symlinks',
 'symlink',
 'sys',
 'system',
 'terminal_size',
 'times',
 'times_result',
 'truncate',
 'umask',
 'uname_result',
 'unlink',
 'urandom',
 'utime',
 'waitpid',
 'walk',
 'write']

In [34]:
os.mkdir('test2')

In [35]:
!dir

 C 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: 767F-B2A6

 C:\Users\Administrator\big 디렉터리

2019-06-04  오후 02:45    <DIR>          .
2019-06-04  오후 02:45    <DIR>          ..
2019-06-04  오후 02:25    <DIR>          .ipynb_checkpoints
2019-06-04  오후 12:27    <DIR>          examples
2019-06-03  오전 11:31    <DIR>          ins
2019-06-03  오후 02:52            16,287 numpy실습1.ipynb
2019-06-03  오후 03:44            13,073 numpy실습2.ipynb
2019-06-03  오후 05:00            20,433 pandas실습1.ipynb
2019-06-03  오후 06:24            62,386 pandas실습2.ipynb
2019-06-03  오후 06:47            46,434 pandas실습3.ipynb
2019-06-04  오후 12:11            68,646 pandas실습4.ipynb
2019-06-04  오후 02:45            26,370 pandas입출력실습.ipynb
2019-06-04  오후 02:41                21 test.txt
2019-06-04  오후 02:44    <DIR>          test1
2019-06-04  오후 02:45    <DIR>          test2
2019-06-04  오후 02:43                14 test2.txt
2019-06-03  오전 11:54             9,539 파이썬test.ipynb
              10개 파일             263,203 바이트
               7개 디렉터리  55,843,045,376 바이트 남음