In [1]:
import pymongo

In [2]:
from pymongo import MongoClient

In [3]:
client = MongoClient('localhost', 27017)

In [9]:
# 데이터베이스 생성하기
db = client.sample

In [10]:
# 컬렉션 생성하기
collection = db.test_collection
collection

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'sample'), 'test_collection')

In [11]:
collection.insert_one({'name':'estel', 'job':'developer'})

In [12]:
collection.find_one()

{'_id': ObjectId('5cf7255c8bc9b1aedd59221e'),
 'name': 'estel',
 'job': 'developer'}

In [13]:
collection.insert_many([{'name': 'onyou', 'job': 'student'},
                       {'name': 'eujean', 'job': 'student'}])

In [16]:
for item in collection.find():
    print(item)

{'_id': ObjectId('5cf7255c8bc9b1aedd59221e'), 'name': 'estel', 'job': 'developer'}
{'_id': ObjectId('5cf725b98bc9b1aedd59221f'), 'name': 'onyou', 'job': 'student'}
{'_id': ObjectId('5cf725b98bc9b1aedd592220'), 'name': 'eujean', 'job': 'student'}

In [17]:
collection.find_one({'name': 'onyou'})

{'_id': ObjectId('5cf725b98bc9b1aedd59221f'),
 'name': 'onyou',
 'job': 'student'}

In [19]:
# sort by name asc
for item in collection.find().sort('name'):
    print(item)

{'_id': ObjectId('5cf7255c8bc9b1aedd59221e'), 'name': 'estel', 'job': 'developer'}
{'_id': ObjectId('5cf725b98bc9b1aedd592220'), 'name': 'eujean', 'job': 'student'}
{'_id': ObjectId('5cf725b98bc9b1aedd59221f'), 'name': 'onyou', 'job': 'student'}

In [20]:
# sort by name desc
for item in collection.find().sort('name', pymongo.DESCENDING):
    print(item)

{'_id': ObjectId('5cf725b98bc9b1aedd59221f'), 'name': 'onyou', 'job': 'student'}
{'_id': ObjectId('5cf725b98bc9b1aedd592220'), 'name': 'eujean', 'job': 'student'}
{'_id': ObjectId('5cf7255c8bc9b1aedd59221e'), 'name': 'estel', 'job': 'developer'}

## Update

In [29]:
collection.update_one({'name': 'onyou'}, {'$set': {'job': 'element school student'}}, upsert=True)
collection.find_one({'name': 'onyou'})

{'_id': ObjectId('5cf725b98bc9b1aedd59221f'),
 'name': 'onyou',
 'job': 'element school student'}

In [35]:
collection.update_many({'name': 'eujean'}, {'$set': {'job':'kindergarden student'}})
collection.find_one({'name': 'eujean'})

{'_id': ObjectId('5cf725b98bc9b1aedd592220'),
 'name': 'eujean',
 'job': 'kindergarden student'}

In [31]:
collection.count_documents({})

3

### Collection Delete

In [36]:
collection.drop?

In [37]:
collection.drop()

### Database Delete

In [41]:
client.drop_database(db)

In [44]:
client.list_database_names()

['admin', 'config', 'local', 'test']