In [1]:
import numpy as np
import pandas as pd

In [11]:
%pwd

'/Users/one1000165/workspace/python-analysis/day02'

In [12]:
%cd ../datas

/Users/one1000165/workspace/python-analysis/datas

In [13]:
!type ex1.csv

/bin/sh: line 0: type: ex1.csv: not found

In [14]:
%cd ..

/Users/one1000165/workspace/python-analysis

In [15]:
%cd day02

/Users/one1000165/workspace/python-analysis/day02

In [16]:
!type ../datas/ex1.csv

../datas/ex1.csv is ../datas/ex1.csv

In [17]:
pd.read_csv?

In [18]:
df = pd.read_csv('../datas/ex1.csv')
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [19]:
df = pd.read_table('../datas/ex1.csv', sep=',')
df

/Users/one1000165/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead.
  """Entry point for launching an IPython kernel.

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [20]:
!type ../datas/ex2.csv

../datas/ex2.csv is ../datas/ex2.csv

In [21]:
df = pd.read_csv('../datas/ex2.csv', header=None)
df

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [22]:
df = pd.read_csv('../datas/ex2.csv', names=['a','b','c','d','message'])
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [23]:
f = open('../datas/ex3.txt', 'r', encoding='utf-8')
f

In [24]:
list(f)

['            A         B         C\n',
 'aaa -0.264438 -1.026059 -0.619500\n',
 'bbb  0.927272  0.302904 -0.032399\n',
 'ccc -0.264273 -0.386314 -0.217601\n',
 'ddd -0.871858 -0.348382  1.100491\n']

In [25]:
import sys

In [26]:
dir(sys)

['__breakpointhook__',
 '__displayhook__',
 '__doc__',
 '__excepthook__',
 '__interactivehook__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '__stderr__',
 '__stdin__',
 '__stdout__',
 '_clear_type_cache',
 '_current_frames',
 '_debugmallocstats',
 '_framework',
 '_getframe',
 '_git',
 '_home',
 '_xoptions',
 'abiflags',
 'api_version',
 'argv',
 'base_exec_prefix',
 'base_prefix',
 'breakpointhook',
 'builtin_module_names',
 'byteorder',
 'call_tracing',
 'callstats',
 'copyright',
 'displayhook',
 'dont_write_bytecode',
 'exc_info',
 'excepthook',
 'exec_prefix',
 'executable',
 'exit',
 'flags',
 'float_info',
 'float_repr_style',
 'get_asyncgen_hooks',
 'get_coroutine_origin_tracking_depth',
 'get_coroutine_wrapper',
 'getallocatedblocks',
 'getcheckinterval',
 'getdefaultencoding',
 'getdlopenflags',
 'getfilesystemencodeerrors',
 'getfilesystemencoding',
 'getprofile',
 'getrecursionlimit',
 'getrefcount',
 'getsizeof',
 'getswitchinterval',
 'gettrace',
 'hash_info',
 'hexversion',
 'implementation',
 'int_info',
 'intern',
 'is_finalizing',
 'maxsize',
 'maxunicode',
 'meta_path',
 'modules',
 'path',
 'path_hooks',
 'path_importer_cache',
 'platform',
 'prefix',
 'ps1',
 'ps2',
 'ps3',
 'set_asyncgen_hooks',
 'set_coroutine_origin_tracking_depth',
 'set_coroutine_wrapper',
 'setcheckinterval',
 'setdlopenflags',
 'setprofile',
 'setrecursionlimit',
 'setswitchinterval',
 'settrace',
 'stderr',
 'stdin',
 'stdout',
 'thread_info',
 'version',
 'version_info',
 'warnoptions']

In [27]:
sys.stdout.write('안녕')

안녕

In [28]:
key = input('insert your key: ')

insert your key: hello

In [29]:
key

'hello'

In [30]:
f = open('../datas/test.txt', 'w')

In [31]:
print('I am writing some text on test.txt.', file=f)

In [32]:
f.closed

False

In [33]:
f.close()

In [34]:
with open('../datas/test2.txt', 'w') as f:
    f.write('test.......')

In [42]:
import os

In [43]:
os.mkdir('test2')

FileExistsError: [Errno 17] File exists: 'test2'

In [46]:
!ls

pandas 실습 04.ipynb          test2
pandas입출력실습01.ipynb